.header {
  font-size: 4.5rem;
  text-align: center;
  padding: 4rem;
  font-weight: bold;
  color: #032d38;
  letter-spacing: 0.25px;
  text-decoration: underline;
}
.main {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 4rem;
  padding: 5rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content h1 {
  font-size: 4rem;
  color: #032d38;
  letter-spacing: 0.25px;
}
.content p {
  font-size: 2rem;
  color: #032d38;
  letter-spacing: 0.25px;
}
.link {
  text-decoration: none;
}
