.heading {
  text-align: center;
  padding: 2.8rem;
  font-size: 4rem;
  font-weight: bold;
  text-decoration: underline;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10rem;
  padding: 3.8rem;
}

.left-content img {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
}
.right-content {
  width: 60rem;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 1.5rem;
}
.tilte {
  font-size: 3rem;
}
.tilte span {
  color: #f1a413;
}
.about {
  font-size: 1.8rem;
  letter-spacing: 0.25px;
  text-align: justify;
}
.button {
  width: 12rem;
  padding: 1rem;
  font-size: 1.8rem;
  border: 2px solid #f59f00;
  background: linear-gradient(to top left, #f59f00, #f08c00);
  border-radius: 0.4rem;
  color: #fff;
  letter-spacing: 0.25px;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.button:hover {
  background: linear-gradient(to top left, #032d38, #021013);
  transition: 3sec;
  color: #f59f00;
}
