.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  justify-content: center;
  background: linear-gradient(to top left, #032d38, #03171b);
}
.left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}
.left img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.logo {
  padding: 2.5rem;
  font-size: 3.5rem;
  color: #fff;
  letter-spacing: 0.25px;
}
.logo span {
  color: #f59f00;
}
.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.5rem;
  gap: 3rem;
}
li {
  list-style: none;
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.25px;
}
.link {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.25px;
}
